@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">3rd time hosting asp.net application</h1>
    <h1>Hosted</h1>
    <h2>Deployed And hosted ASP net application using cicd pipeline. yahooooooooooooooooo</h2>
</div>
